In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [45]:
datas = pd.read_csv('data/data.csv')
pd.concat([datas,pd.get_dummies(datas['ACCT_MONTH'])], axis=1)

In [4]:
datas.head(2)

,REGION_ID,ACCT_MONTH,ACCT_ID,CHURN_FLAG,REMARK,B_M_FLAG,M_M_FLAG,E_M_FLAG,CHARGE_AMOUNT,AMOUNT_COUNTS,AVERAGE_CHARGE,OWE_AMOUNT,STOP_COUNTS,OWE_AVERGE
0,573,201703,373002125207,0,根据停机充值记录生成,0.0,1.0,1.0,30000.0,2.0,15000.0,10051.0,1.0,10051.0
1,573,201703,373002125323,0,根据停机充值记录生成,0.0,0.0,1.0,10000.0,1.0,10000.0,3008.0,1.0,3008.0

In [5]:

def shuffle(df, n=1, axis=0):     
   df = df.copy()
   for _ in range(n):
        df.apply(np.random.shuffle, axis=axis)
   return df

In [6]:
new = shuffle(datas)

NameError: name 'np' is not defined

In [46]:
datas.drop(['REGION_ID','REMARK','ACCT_ID','ACCT_MONTH'],axis=1,inplace=True)

In [62]:
datas.fillna(0,inplace=True)

In [63]:
lw = datas[datas['CHURN_FLAG'] == 1]
wlw = datas[datas['CHURN_FLAG'] == 0]

In [82]:
train_lw=lw.sample(frac=0.8,random_state=200)
train_wlw=wlw.sample(frac=0.8,random_state=200)

test_lw=lw.drop(train_lw.index)
test_wlw=wlw.drop(train_wlw.index)

In [85]:
train_lw.

,ACCT_MONTH,CHURN_FLAG,B_M_FLAG,M_M_FLAG,E_M_FLAG,CHARGE_AMOUNT,AMOUNT_COUNTS,AVERAGE_CHARGE,OWE_AMOUNT,STOP_COUNTS,OWE_AVERGE
41267,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,3600.0,1.0,3600.0

In [91]:
lw.shape[0]

36727

In [84]:
test_lw.shape[0]

7345

In [77]:
lw_test.dropna(inplace=True)

In [81]:
lw_train

,ACCT_MONTH,CHURN_FLAG,B_M_FLAG,M_M_FLAG,E_M_FLAG,CHARGE_AMOUNT,AMOUNT_COUNTS,AVERAGE_CHARGE,OWE_AMOUNT,STOP_COUNTS,OWE_AVERGE
1751728,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,100606.0,2.0,50303.0
159480,201704,1,0.0,0.0,0.0,0.0,0.0,0.0,2342.0,2.0,1171.0
155340,201704,1,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,5.0
9337,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,1930.0,1.0,1930.0
135077,201703,1,3.0,5.0,4.0,40000.0,12.0,3333.0,53.0,1.0,53.0
224997,201704,1,0.0,0.0,0.0,0.0,0.0,0.0,5995.0,1.0,5995.0
196828,201704,1,0.0,1.0,0.0,500.0,1.0,500.0,700.0,2.0,350.0
1748512,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,26535.0,3.0,8845.0
197207,201704,1,0.0,0.0,1.0,500.0,1.0,500.0,700.0,2.0,350.0
1748214,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1749275,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
92985,201703,1,0.0,0.0,1.0,100.0,1.0,100.0,32.0,2.0,16.0
145603,201704,1,0.0,0.0,0.0,0.0,0.0,0.0,3449.0,2.0,1724.0
9342,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,2474.0,2.0,1237.0
89830,201703,1,0.0,0.0,1.0,100.0,1.0,100.0,32.0,2.0,16.0
1762996,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,1856.0,2.0,928.0
63197,201703,1,1.0,0.0,0.0,500.0,1.0,500.0,22.0,2.0,11.0
1751559,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,174256.0,1.0,174256.0
1531868,201703,1,0.0,0.0,1.0,430.0,1.0,430.0,560.0,2.0,280.0
130642,201703,1,1.0,1.0,0.0,5710.0,2.0,2855.0,168.0,2.0,84.0
224822,201704,1,0.0,0.0,0.0,0.0,0.0,0.0,1200.0,2.0,600.0
97659,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,5500.0,1.0,5500.0
1538093,201703,1,0.0,1.0,1.0,1035.0,2.0,517.0,152.0,2.0,76.0
1533487,201703,1,0.0,0.0,1.0,100.0,1.0,100.0,32.0,2.0,16.0
70911,201703,1,0.0,1.0,0.0,355.0,1.0,355.0,170.0,3.0,56.0
210540,201704,1,0.0,0.0,1.0,1300.0,1.0,1300.0,1200.0,2.0,600.0
79489,201703,1,0.0,1.0,0.0,600.0,1.0,600.0,900.0,2.0,450.0
63208,201703,1,1.0,0.0,0.0,500.0,1.0,500.0,22.0,2.0,11.0
1488658,201704,1,0.0,1.0,1.0,5000.0,2.0,2500.0,2325.0,2.0,1162.0
1729103,201704,1,0.0,1.0,0.0,500.0,1.0,500.0,700.0,2.0,350.0
...,...,...,...,...,...,...,...,...,...,...,...
11023,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,21583.0,3.0,7194.0
96599,201703,1,0.0,0.0,1.0,100.0,1.0,100.0,32.0,2.0,16.0
1764074,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,194.0,2.0,97.0
1756718,201703,1,1.0,0.0,0.0,500.0,1.0,500.0,22.0,2.0,11.0
168379,201704,1,0.0,0.0,0.0,0.0,0.0,0.0,657270.0,3.0,219090.0
70561,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,5522.0,2.0,2761.0
1744503,201704,1,1.0,0.0,1.0,11000.0,2.0,5500.0,119.0,3.0,39.0
144070,201704,1,0.0,0.0,0.0,0.0,0.0,0.0,3600.0,1.0,3600.0
1538301,201703,1,0.0,0.0,1.0,100.0,1.0,100.0,32.0,2.0,16.0
72150,201703,1,0.0,1.0,0.0,184.0,1.0,184.0,4.0,2.0,2.0
13796,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,1802.0,1.0,1802.0
1531844,201703,1,0.0,0.0,1.0,422.0,1.0,422.0,544.0,2.0,272.0
1561796,201704,1,0.0,1.0,0.0,398.0,1.0,398.0,44.0,3.0,14.0
1724852,201704,1,0.0,1.0,0.0,500.0,1.0,500.0,700.0,2.0,350.0
25835,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,3000.0,1.0,3000.0
83633,201703,1,0.0,1.0,1.0,955.0,2.0,477.0,120.0,2.0,60.0
95353,201703,1,1.0,0.0,0.0,3000.0,1.0,3000.0,2906.0,1.0,2906.0
1536645,201703,1,0.0,1.0,0.0,10000.0,1.0,10000.0,13248.0,4.0,3312.0
68774,201703,1,0.0,0.0,1.0,1610.0,1.0,1610.0,87.0,1.0,87.0
61472,201703,1,1.0,0.0,0.0,500.0,1.0,500.0,22.0,2.0,11.0
40080,201703,1,1.0,0.0,0.0,500.0,1.0,500.0,28.0,2.0,14.0
103783,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,34.0,2.0,17.0
13559,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,6.0,1.0,6.0
212872,201704,1,0.0,0.0,1.0,100.0,1.0,100.0,34.0,2.0,17.0
5410,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,42730.0,3.0,14243.0
1490732,201704,1,1.0,0.0,0.0,600.0,1.0,600.0,34.0,2.0,17.0
204055,201704,1,0.0,0.0,1.0,600.0,1.0,600.0,900.0,2.0,450.0
26276,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,93016.0,1.0,93016.0
86799,201703,1,0.0,0.0,1.0,100.0,1.0,100.0,32.0,2.0,16.0
1758075,201703,1,0.0,0.0,0.0,0.0,0.0,0.0,258.0,1.0,258.0

In [41]:
datas.head(2)

,ACCT_MONTH,CHURN_FLAG,B_M_FLAG,M_M_FLAG,E_M_FLAG,CHARGE_AMOUNT,AMOUNT_COUNTS,AVERAGE_CHARGE,OWE_AMOUNT,STOP_COUNTS,OWE_AVERGE
0,201703,0,0.0,1.0,1.0,30000.0,2.0,15000.0,10051.0,1.0,10051.0
1,201703,0,0.0,0.0,1.0,10000.0,1.0,10000.0,3008.0,1.0,3008.0

In [6]:
datas = pd.read_csv('data/data_lw_train.csv')

In [18]:
datas_test2 = pd.read_csv('data/data_lw_test.csv')

In [13]:
datas_test.shape[0]

7404

In [23]:
datas.shape[0]

29321

In [21]:
datas_test.head()

   1  0  0.1  0.2  1.1     2.0  2     4.114  1.2
0  1  0    0    0    1  0.0440  2  1.062000    1
1  1  0    2    3    1  0.8332  8  0.788667    1
2  1  0    1    0    0  0.4000  1  0.022000    1
3  1  0    0    0    0  0.0000  1  4.538000    1
4  1  0    0    0    1  0.0506  2  0.005333    1

In [22]:
datas_test2.head()

   1  0  0.1  0.2  1.1  2.0  2     4.114  1.2
0  1  0    0    0    0  0.0  1  4.022000    1
1  1  0    0    0    0  0.0  2  0.604000    1
2  1  0    0    0    0  0.0  1  4.538000    1
3  1  0    0    0    1  2.0  2  0.015333    1
4  1  0    0    0    1  0.6  2  0.702667    1